# nonebot_plugin_vrchat 可选环境变量
# 复制为 .env 并按需修改

# VRChat 好友列表/个人卡片图片模板
# 可选: "default"
vrchat_img="default"

# 是否下载并显示用户头像 (False 可大幅提高出图速度)
vrchat_avatar=true

# 2FA 验证码等待超时 (timedelta 格式, 例: PT5M = 5 分钟)
session_expire_timeout=PT5M
