<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="friend_list.css">
</head>

<body>
    <div class="friend-list-card">
        <h2>{{ title }}</h2>
        {% for status, friends in user_dict.items() %}
        <div class="friend-group">
            <div class="group-title">
                <span class="status-dot" style="background-color: {{ status_colors[status] }};"></span>
                {{ status_desc_map[status] }} ({{ friends|length }})
            </div>
            <div class="friend-list two-cols">
                {% for friend in friends %}
                <div class="friend-item">
                    <!-- 头像显示trust颜色这部分有问题 to do  -->
                    <!-- <div class="avatar-border" style="border-color: {{ trust_colors[friend.trust] }};"> -->
                    <img class="avatar" src="{{ friend.current_avatar_thumbnail_image_url }}" alt="avatar">
                    <!-- </div> -->
                    <div class="info">
                        <div class="index-name">
                            {{ friend.index + 1 }}. {{ friend.display_name }}
                        </div>
                        <div class="status">{{ friend.status_description or status_desc_map[status] }}</div>
                        <div class="location">{{ friend.location }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</body>

</html>